

$bg-color: #fff;

$text-color: #000;
$secondary-text-color: #fff;

$accent-color: #007bff;
$border-color: #d3d3d3;
$profit-color: #137333;
$profit-bg-color: rgba(19, 115, 51, 0.1);
$loss-color: #a50e0e;
$loss-bg-color: rgba(165, 14, 14, 0.1);
$delete-btn-color: #a50e0e;
$delete-btn-bg-color: rgba(165, 14, 14, 0.1);
